<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">

  <title>WebRTC</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  
    <!-- Bootstrap cdn testi için gerekli -->
    <div id="bootstrapCssTest" class="hidden"></div>
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  
</head>

<body>
<link rel='stylesheet' href="/public/css/profile.css">
<link rel="stylesheet" type="text/css" href="../public/css/custom.css">
<nav class="navbar navbar-expand-lg nav-custom" style="background-color:#183552; color: #fff">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand mr-auto mt-2 mt-lg-0" href="#">BES CHAT</a>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/web">Görüşme Yap! <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#rehber">Rehber</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Çıkış</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  	<hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
        <% if (!user.socialId) { %>
            <img src="/public<%= user.picture %>" class="avatar img-circle" alt="avatar">
        <%}%>
        <% if (user.socialId) { %>
            <img src="<%= user.picture %>" class="avatar img-circle" alt="avatar">
        <%}%>
        </div>
      </div>
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <span class="fa fa-coffee"></span>
          Kullanıcı bilgilerinizi güncelleyebilir ve <strong>rehberinize</strong> yeni kişiler ekleyebilirsiniz.
        </div>
        <form action="/update" method="post" class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">Ad ve Soyadı:</label>
            <div class="col-lg-12">
              <input name="name" id="name" class="form-control" type="text" value="<%= user.name %>">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Kullanıcı Adı:</label>
            <div class="col-lg-12">
              <input name="username" id="username"class="form-control" type="text" value="<%= user.username %>">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Eposta:</label>
            <div class="col-lg-12">
              <input name="email" id="email" class="form-control" type="text" value="<%=user.email %>">
            </div>
          </div>
          <% if (!user.socialId) { %>
          <div class="form-group">
            <label class="col-md-3 control-label">Parola:</label>
            <div class="col-md-12">
              <input class="form-control" type="password"  name="password" id="password" value="">
            </div>
          </div>
          <%}%>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="submit" class="btn btn-primary" value="Kaydet">
          </div>
        </form>
      </div>
  </div>
</div>
<hr>
<div class="modal fade" id="kisiEkleModal" tabindex="-1" role="dialog" aria-labelledby="kisiEkleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="kisiEkleModalLabel">Kişi Ekle</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/adduser" method="post">
          <div class="form-group">
            <label for="adduser" class="col-form-label">Kişi Kullanıcı Adı:</label>
            <input type="text" class="form-control" name="adduser" id="adduser" class="input" required>
          </div>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
          <button type="submit" class="btn btn-primary" >Kaydet</button>
        </div>
      </form>
    </div>
  </div>
</div>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<hr id="rehber">
<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-lg-12">
      <div class="main-box no-header clearfix">
        <div class="main-box-body clearfix">
          <div class="table-responsive">
            <table class="table user-list">
              <thead>
                <tr>
                  <th><span>Profil</span></th>
                  <th><span>Kullanıcı Adı</span></th>
                  <th ><span>Mail</span></th>
                  <th class="float-left" >
                    <a id="kisiEkleSide" href="#" data-toggle="modal" data-target="#kisiEkleModal" class="clickable" class="table-link">
                      <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                    </th>
                </tr>
              </thead>
              <tbody>
              <% for( var i=0; i< directory.length; i++){%>
                <tr>
                  <td>
                    <img src="/public<%= directory[i].picture%>">
                      <p style="color:blue;" class="user-link"><%= directory[i].name %></p>
                  </td>
                  <td><p style="color:LightSlateGray;" class="user-link"><%= directory[i].username %></p></td>
                  <td class="text-center">
                  <span class="label label-default"><%= directory[i].email%></span>
                  </td>
                    <td>
                    <a href="#" class="table-link danger">
                      <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                   </td>
                  </tr>
                  <tr>&nbsp;</tr>
                  <%}%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        var height = $(window).height();
        $('.left-chat').css('height', (height - 92) + 'px');
        $('.right-header-contentChat').css('height', (height - 163) + 'px');
    });
</script>