<!DOCTYPE HTML>
<html>
<head>
	<title>Webix WebRTC chat</title>
	<!-- webix -->
	<!-- <link rel="stylesheet" href="//cdn.webix.com/edge/webix.css" type="text/css"> -->
	<link rel="stylesheet" href="/public/libs/webix/css/webix.css" type="text/css">
	 <script src="/public/libs/webix/js/webix.js" type="text/javascript"></script>
	<!-- <script src="//cdn.webix.com/edge/webix.js" type="text/javascript"></script>-->
	<!-- easy rtc -->
	<script src="/socket.io/socket.io.js" type="text/javascript"></script>
	<script src="/public/easyrtc/easyrtc.js" type="text/javascript"></script>
	
	<script src="/public/app/webrtc.js" type="text/javascript"></script>
	<link rel="stylesheet" href="/public/css/wb.css" type="text/css">
	
</head>
<body>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
	if('<%= user.socialId %>' === null)
		var pic= 'public/'+'<%= user.picture  %>';
	else
		var pic= '<%= user.picture  %>';
	
	config.app('<%= user.name  %>','<%= user.username  %>',pic , '<%= user.directory %>',  );
	//config.partner('<%= directory[0].picture %>');
	
	});
</script>
</body>
</html>
